body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.st-emotion-cache-1cvow4s,
.st-emotion-cache-1cvow4s h1, 
.st-emotion-cache-1cvow4s h2, 
.st-emotion-cache-1cvow4s h3, 
.st-emotion-cache-1cvow4s h4, 
.st-emotion-cache-1cvow4s h5, 
.st-emotion-cache-1cvow4s h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  