body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


[class^='st-emotion-cache-'], [class*=' st-emotion-cache-'],
[class^='st-emotion-cache-'] h1, [class*=' st-emotion-cache-'] h1,
[class^='st-emotion-cache-'] h2, [class*=' st-emotion-cache-'] h2,
[class^='st-emotion-cache-'] h3, [class*=' st-emotion-cache-'] h3,
[class^='st-emotion-cache-'] h4, [class*=' st-emotion-cache-'] h4,
[class^='st-emotion-cache-'] h5, [class*=' st-emotion-cache-'] h5,
[class^='st-emotion-cache-'] h6, [class*=' st-emotion-cache-'] h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* 
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
   */


  [data-testid="stHeader"] {
    display: none !important;
  }

  button[data-testid="manage-app-button"] {
    display: none !important;
  }